.pagination{
    text-align: center;
}

.pagination a{
    color:hsl(0, 0%, 0%);
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color: hsl(84, 89%, 58%);
    font-weight: bold;
    border-radius: 5px;
}

.pagination a:hover:not(.active){
    background-color: hsl(0, 0%, 41%);
    border-radius: 5px;
}