.icons{
    text-align: center;
}

.fa-solid.fa-house.fa-sharp.fa-5x{
    color:grey;
}

.fa-brands.fa-twitter.fa-5x{
    color:aqua
}

.fa-brands.fa-youtube.fa-5x{
    color:red;
}
.fa-brands.fa-tiktok.fa-5x{
    color:gray
}