body{
    margin: 0px;
}

.box{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;

    /* Spostamento
    transform: translate(50px,50px);
    */

    /* Rotazione, per ogni singolo asse
    transform: rotateZ(45deg);
    */

    /* Scala
    transform: scale(0.7,1.3);
    */

    /* Inclinazione 
    transform: skewX(135deg);
    */

    transform: translateX(100%) rotateZ(45deg) scale(0.5);

}

#box1{
    background-color: hsl(120, 100%, 68%);
}
#box2{
    background-color: hsl(0, 79%, 65%);
}
#box3{
    background-color: hsl(236, 82%, 68%);
}

img{
    transform: translateX(100%) rotateZ(180deg) scaleX(2);
}